<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>init</key>
	<dict>
		<key>upencode</key>
		<string>utf8</string>
		<key>encode</key>
		<string>utf8</string>
		<key>appid</key>
		<string>nuist</string>
		<key>url</key>
		<string>/mobile?methodno=</string>
		<key>durl</key>
		<string>/download.do?id=</string>
		<key>uurl</key>
		<string>http://app.udows.com:82/mobile?methodno=MUpdate</string>
		<key>uri</key>
		<string>http://s1.smartjiangsu.com:8089/zsnd</string>
		<key>temppath</key>
		<string>temppath</string>
		<key>loading</key>
		<string></string>
		<key>channel</key>
		<string>渠道</string>
		<key>statkey</key>
		<string>512d54645270154086000080</string>
		<key>mapkey</key>
		<string>makkey</string>
		<key>menu</key>
		<string>menu</string>
		<key>error</key>
		<string></string>
		<key>log</key>
		<true/>
		<key>iconurl</key>
		<string>iconurl</string>
	</dict>
	<key>errors</key>
	<array>
		<dict>
			<key>name</key>
			<string>97</string>
			<key>type</key>
			<string>1</string>
			<key>value</key>
			<string>系统升级中</string>
		</dict>
		<dict>
			<key>name</key>
			<string>96</string>
			<key>type</key>
			<string>1</string>
			<key>value</key>
			<string>数据解析错误</string>
		</dict>
		<dict>
			<key>name</key>
			<string>98</string>
			<key>type</key>
			<string>0</string>
			<key>value</key>
			<string>连接错误，请检查网络</string>
		</dict>
		<dict>
			<key>name</key>
			<string>90</string>
			<key>type</key>
			<string>1</string>
			<key>value</key>
			<string>授权错误</string>
		</dict>
	</array>
	<key>urls</key>
	<array>
		<dict>
			<key>name</key>
			<string>MIndexNew</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MIndex_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MIndexNew</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MWeek</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MRet_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MWeek</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MFeedback</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MRet_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MFeedback</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MDelMarket</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MRet_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MDelMarket</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MRssNews</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MMyRss_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MRssNews</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MMarketType</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MMarketTypeList_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MMarketType</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MChatIndex</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MChatList_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MChatIndex</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MRssCancel</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MRet_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MRssCancel</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MChat</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MChats_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MChat</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MChatMsg</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MChat_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MChatMsg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MAddChat</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MChat_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MAddChat</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MChatReq</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MView_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MChatReq</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MChatDel</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MRet_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MChatDel</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MChatBlack</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MRet_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MChatBlack</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MIndex</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MIndex_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MIndex</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MUnreadModule</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MUnread_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MUnreadModule</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MSearchBook</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MBookList_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MSearchBook</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MBookDetail</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MBook_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MBookDetail</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MMyLibrary</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MBookList_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MMyLibrary</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MLostAndFound</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MLostAndFoundList_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MLostAndFound</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MMarketList</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MMarketList_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MMarketList</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MAddMarket</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MRet_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MAddMarket</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MSoldMarket</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MRet_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MSoldMarket</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MNewsList</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MNewsList_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MNewsList</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MNews</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MNews_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MNews</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MBaiheNewsList</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MNewsList_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MBaiheNewsList</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MAllRss</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MRssList_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MAllRss</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MMyRss</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MRssList_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MMyRss</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MActivity</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MNewsList_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MActivity</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MPushClear</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MRet_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MPushClear</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MGetWelcomePage</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MRet_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MGetWelcomePage</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MVerifyUser</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MRet_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MVerifyUser</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MRss</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MRet_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MRss</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MBookRenew</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MRet_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MBookRenew</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MRoomSearch</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MRoomList_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MRoomSearch</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MAddLostAndFound</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MRet_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MAddLostAndFound</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MScheduleAuto</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MClassList_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MScheduleAuto</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MSchedule</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MClassList_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MSchedule</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MAddClass</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MRet_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MAddClass</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MDelClass</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MRet_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MDelClass</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MTermList</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MTermList_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MTermList</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MGradeSearch</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MCourseList_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MGradeSearch</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MCardInfo</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MCardList_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MCardInfo</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MCardHistory</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MCardList_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MCardHistory</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MContacts</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MContactList_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MContacts</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MBusSearch</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MBusList_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MBusSearch</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MSignInInfo</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MSignInList_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MSignInInfo</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MSignInInDetail</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MSignInList_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MSignInInDetail</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MHelp</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MContacts_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MHelp</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MGetTags</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MTagList_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MGetTags</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MTreeHoleList</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MTreeHole_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MTreeHoleList</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MTreeHoleQuery</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MTreeHole_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MTreeHoleQuery</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MTagTreeHole</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MTreeHole_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MTagTreeHole</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MTreeHole</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MTopic_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MTreeHole</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MTreeHoleComments</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MCommentList_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MTreeHoleComments</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MGetMsgCount</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MMsgCount_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MGetMsgCount</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MPraise</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MRet_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MPraise</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MAddTreeHole</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MRet_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MAddTreeHole</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MTreeHoleDel</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MRet_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MTreeHoleDel</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MTreeHoleReport</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MRet_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MTreeHoleReport</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MTreeHoleComment</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MRet_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MTreeHoleComment</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MTreeHoleNewComment</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MTopicMiniList_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MTreeHoleNewComment</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MLogin</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MUser_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MLogin</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MRegist</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MUser_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MRegist</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MChangePasswd</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MUser_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MChangePasswd</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MGetUserInfo</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MUser_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MGetUserInfo</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MUpdateUserInfo</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MUser_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MUpdateUserInfo</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MLogout</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MRet_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MLogout</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MGetMobileVerify</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MRet_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MGetMobileVerify</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MVerifyMobile</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MRet_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MVerifyMobile</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MUpdateHeadImg</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>MRet_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>MUpdateHeadImg</string>
		</dict>
	</array>
</dict>
</plist>
