<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
  <dict>
    <key>urls</key>
    <array>
      <!-- 南呱首页 /mobile?methodno=MChatIndex&debug=1&appid=nju&deviceid=1&userid=1&verify=1-->
      <dict>
        <key>name</key>
        <string>MChatIndex</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MChatList_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MChatIndex</string>
      </dict>
      <!-- 南呱详情 /mobile?methodno=MChat&debug=1&appid=nju&deviceid=1&userid=1&verify=1&id=&begin=-->
      <dict>
        <key>name</key>
        <string>MChat</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MChats_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MChat</string>
      </dict>
      <!-- 南呱单条记录 /mobile?methodno=MChatMsg&debug=1&appid=nju&deviceid=1&userid=1&verify=1&id=-->
      <dict>
        <key>name</key>
        <string>MChatMsg</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MChat_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MChatMsg</string>
      </dict>
      <!-- 南呱添加聊天(MImg)  /mobile?methodno=MAddChat&debug=1&appid=nju&deviceid=1&userid=1&verify=1&id=&content=   -->
      <dict>
        <key>name</key>
        <string>MAddChat</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MChat_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MAddChat</string>
      </dict>
      <!-- 南呱匹配 /mobile?methodno=MChatMatch&debug=1&appid=nju&deviceid=1&userid=1&verify=1-->
      <dict>
        <key>name</key>
        <string>MChatMatch</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MMatch_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MChatMatch</string>
      </dict>
      <!--首页 /mobile?methodno=MIndex&debug=1&deviceid=1&userid=fe34a40e-eac6-11e3-b696-ac853d9d52b1&verify=cf09a009-d221-466a-b9f0-d7d3b43dce7c&appid=nju&appid=nju-->
      <dict>
        <key>name</key>
        <string>MIndex</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MIndex_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MIndex</string>
      </dict>
      <!-- 未读消息  /mobile?methodno=MUnreadModule&debug=1&deviceid=1&userid=dffeda04-eb07-11e3-b696-ac853d9d52b1&verify=753bd4cd-590a-4fa2-b5b3-f390d3bc1d01&appid=nju-->
      <dict>
        <key>name</key>
        <string>MUnreadModule</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MUnread_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MUnreadModule</string>
      </dict>
      <!-- 图书馆检索(分页)  /mobile?methodno=MSearchBook&debug=1&userid=&verify=&deviceid=&appid=&page=&limit=&keyword=-->
      <dict>
        <key>name</key>
        <string>MSearchBook</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MBookList_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MSearchBook</string>
      </dict>
      <!-- 图书详情查询  /mobile?methodno=MBookDetail&debug=1&userid=&verify=&deviceid=&appid=&id=-->
      <dict>
        <key>name</key>
        <string>MBookDetail</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MBook_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MBookDetail</string>
      </dict>
      <!-- 个人图书馆(分页) mobile?methodno=MMyLibrary&debug=1&userid=&verify=&deviceid=&appid=&account=&password=-->
      <dict>
        <key>name</key>
        <string>MMyLibrary</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MBookList_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MMyLibrary</string>
      </dict>
      <!-- 失物招领(分页) /mobile?methodno=MLostAndFound&debug=1&deviceid=1&userid=&verify=&type=&page=&limit=-->
      <dict>
        <key>name</key>
        <string>MLostAndFound</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MLostAndFoundList_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MLostAndFound</string>
      </dict>
      <!-- 商品分类 mobile?methodno=MMyLibrary&debug=1&userid=&verify=&deviceid=&appid=&account=&password=-->
      <dict>
        <key>name</key>
        <string>MMarketType</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MMarketTypeList_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MMarketType</string>
      </dict>
      <!-- 获取商品详情 mobile?methodno=MMyLibrary&debug=1&userid=&verify=&deviceid=&appid=&account=&password=-->
      <dict>
        <key>name</key>
        <string>MMarketList</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MMarketTypeList_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MMarketList</string>
      </dict>
      <!-- 添加商品 mobile?methodno=MMyLibrary&debug=1&userid=&verify=&deviceid=&appid=&account=&password=-->
      <dict>
        <key>name</key>
        <string>MAddMarket</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MRet_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MAddMarket</string>
      </dict>
      <!--新闻列表(分页) /mobile?methodno=MNewsList&debug=1&deviceid=1&userid=fe34a40e-eac6-11e3-b696-ac853d9d52b1&verify=cf09a009-d221-466a-b9f0-d7d3b43dce7c&page=2&limit=10&appid=nju-->
      <dict>
        <key>name</key>
        <string>MNewsList</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MNewsList_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MNewsList</string>
      </dict>
      <!-- 新闻详情-->
      <dict>
        <key>name</key>
        <string>MNews</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MNews_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MNews</string>
      </dict>
      <!-- 百合十大 /mobile?methodno=MBaiheNewsList&debug=1&deviceid=1&userid=fe34a40e-eac6-11e3-b696-ac853d9d52b1&verify=cf09a009-d221-466a-b9f0-d7d3b43dce7c&appid=nju-->
      <dict>
        <key>name</key>
        <string>MBaiheNewsList</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MNewsList_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MBaiheNewsList</string>
      </dict>
      <!-- 全部订阅 /mobile?methodno=MAllRss&debug=1&deviceid=1&userid=&verify=&appid=-->
      <dict>
        <key>name</key>
        <string>MAllRss</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MRssList_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MAllRss</string>
      </dict>
      <!-- 我的订阅 /mobile?methodno=MMyRss&debug=1&deviceid=1&userid=&verify=&appid=-->
      <dict>
        <key>name</key>
        <string>MMyRss</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MMyRssList_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MMyRss</string>
      </dict>
      <!-- 活动  /mobile?methodno=MNewsList&debug=1&deviceid=1&userid=fe34a40e-eac6-11e3-b696-ac853d9d52b1&verify=cf09a009-d221-466a-b9f0-d7d3b43dce7c&page=2&limit=10&appid=nju-->
      <dict>
        <key>name</key>
        <string>MActivity</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MNewsList_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MActivity</string>
      </dict>
      <!-- 订阅新闻  /mobile?methodno=MMyRss&debug=1&deviceid=1&userid=&verify=-->
      <dict>
        <key>name</key>
        <string>MRssNews</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MMyRss_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MRssNews</string>
      </dict>
      <!--清空推送   /mobile?methodno=MPushClear&debug=1&deviceid=&appid=&userid=-->
      <dict>
        <key>name</key>
        <string>MPushClear</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MRet_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MPushClear</string>
      </dict>
      <!--退出登录   /mobile?methodno=MLogout&debug=1&deviceid=&appid=&userid=-->
      <dict>
        <key>name</key>
        <string>MLogout</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MRet_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MLogout</string>
      </dict>
      <!--获取欢迎页   /mobile?methodno=MGetWelcomePage&debug=&deviceid=&appid=-->
      <dict>
        <key>name</key>
        <string>MGetWelcomePage</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MRet_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MGetWelcomePage</string>
      </dict>
      <!--获取手机验证码 /mobile?methodno=MGetMobileVerify&debug=1&deviceid=1&phone=&appid=-->
      <dict>
        <key>name</key>
        <string>MGetMobileVerify</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MRet_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MGetMobileVerify</string>
      </dict>
      <!--验证手机号 /mobile?methodno=MVerifyMobile&debug=1&deviceid=1&phone=&appid=&code=-->
      <dict>
        <key>name</key>
        <string>MVerifyMobile</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MRet_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MVerifyMobile</string>
      </dict>
      <!--修改头像:MImg   /mobile?methodno=UpdateHeadImg&debug=1&deviceid=1&userid=&verify=&appid=-->
      <dict>
        <key>name</key>
        <string>MUpdateHeadImg</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MRet_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MUpdateHeadImg</string>
      </dict>
      <!--用户身份认证 /mobile?methodno=MVerifyUser&debug=1&deviceid=1&userid=&verify=&num=&pwd=&code=&appid=nju-->
      <dict>
        <key>name</key>
        <string>MVerifyUser</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MRet_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MVerifyUser</string>
      </dict>
      <!-- 订阅 /mobile?methodno=MRss&debug=1&deviceid=1&userid=&verify=&rssid=&appid=-->
      <dict>
        <key>name</key>
        <string>MRss</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MRet_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MRss</string>
      </dict>
      <!-- 树洞赞 /mobile?methodno=MPraise&debug=1&deviceid=1&appid=1&userid=1&verify=1&id=1&type=1-->
      <dict>
        <key>name</key>
        <string>MPraise</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MRet_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MPraise</string>
      </dict>
      <!-- 发布树洞:MAddTopic     /mobile?methodno=MAddTreeHole&debug=1&deviceid=1&userid=1&verify=1-->
      <dict>
        <key>name</key>
        <string>MAddTreeHole</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MRet_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MAddTreeHole</string>
      </dict>
      <!-- 树洞删除 /mobile?methodno=MTreeHoleDel&debug=1&deviceid=1&appid=1&userid=1&verify=1&id=1-->
      <dict>
        <key>name</key>
        <string>MTreeHoleDel</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MRet_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MTreeHoleDel</string>
      </dict>
      <!-- 发布树洞评论 /mobile?methodno=MTreeHoleComment&debug=1&deviceid=1&appid=1&userid=1&verify=1&id=&content=&reply=&commentId=-->
      <dict>
        <key>name</key>
        <string>MTreeHoleComment</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MRet_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MTreeHoleComment</string>
      </dict>
      <!-- 南呱记录删除  /mobile?methodno=MChatDel&debug=1&appid=nju&deviceid=1&userid=1&verify=1&id=-->
      <dict>
        <key>name</key>
        <string>MChatDel</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MRet_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MChatDel</string>
      </dict>
      <!-- 南呱黑名单 /mobile?methodno=MChatBlack&debug=1&appid=nju&deviceid=1&userid=1&verify=1&id=-->
      <dict>
        <key>name</key>
        <string>MChatBlack</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MRet_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MChatBlack</string>
      </dict>
      <!-- 南呱换人 /mobile?methodno=MChatChange&debug=1&appid=nju&deviceid=1&userid=1&verify=1&id=-->
      <dict>
        <key>name</key>
        <string>MChatChange</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MRet_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MChatChange</string>
      </dict>
      <!-- 南呱呼叫  /mobile?methodno=MChatCall&debug=1&appid=nju&deviceid=1&userid=1&verify=1&id=-->
      <dict>
        <key>name</key>
        <string>MChatCall</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MRet_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MChatCall</string>
      </dict>
      <!-- 南呱呼叫应答 /mobile?methodno=MChatCallBack&debug=1&appid=nju&deviceid=1&userid=1&verify=1&id=&type=-->
      <dict>
        <key>name</key>
        <string>MChatCallBack</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MRet_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MChatCallBack</string>
      </dict>
      <!-- 图书馆续借  mobile?methodno=MBookRenew&debug=&deviceid=&appid=1&userid=&verify=&account=&password=&id=-->
      <dict>
        <key>name</key>
        <string>MBookRenew</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MRet_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MBookRenew</string>
      </dict>
      <!-- 空教室搜索 /mobile?methodno=MRoomSearch&debug=1&deviceid=1&userid=&verify=&type=&day=&begin=&end=-->
      <dict>
        <key>name</key>
        <string>MRoomSearch</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MRoomList_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MRoomSearch</string>
      </dict>
      <!-- 添加失物招领:MAddLostOrFound /mobile?methodno=MAddLostAndFound&debug=&appid=&deviceid=&userid=&verify=-->
      <dict>
        <key>name</key>
        <string>MAddLostAndFound</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MRet_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MAddLostAndFound</string>
      </dict>
      <!-- 课程表 /mobile?methodno=MSchedule&debug=1&deviceid=1&account=&password=&code=-->
      <dict>
        <key>name</key>
        <string>MScheduleAuto</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MClassList_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MScheduleAuto</string>
      </dict>
      <!--  课程表-教务处全新抓取 /mobile?methodno=MSchedule&debug=1&deviceid=1&account=&password=&code=-->
      <dict>
        <key>name</key>
        <string>MSchedule</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MClassList_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MSchedule</string>
      </dict>
      <!--  课程表-添加课程 /mobile?methodno=MSchedule&debug=1&deviceid=1&account=&password=&code=-->
      <dict>
        <key>name</key>
        <string>MAddClass</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MRet_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MAddClass</string>
      </dict>
      <!--  课程表-删除课程 /mobile?methodno=MSchedule&debug=1&deviceid=1&account=&password=&code=-->
      <dict>
        <key>name</key>
        <string>MDelClass</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MRet_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MDelClass</string>
      </dict>
      <!-- 获取学期列表  /mobile?methodno=MTermList&debug=1&deviceid=1&userid=&verify=&account=&password=-->
      <dict>
        <key>name</key>
        <string>MTermList</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MTermList_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MTermList</string>
      </dict>
      <!--成绩查询  /mobile?methodno=MGradeSearch&debug=1&deviceid=1&userid=&verify=&account=&password=&url=-->
      <dict>
        <key>name</key>
        <string>MGradeSearch</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MCourseList_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MGradeSearch</string>
      </dict>
      <!-- 一卡通余额 /mobile?methodno=MCardInfo&debug=1&deviceid=1&userid=&verify=&account=&password=-->
      <dict>
        <key>name</key>
        <string>MCardInfo</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MCard_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MCardInfo</string>
      </dict>
      <!-- 一卡通消费记录  /mobile?methodno=MCardHistory&debug=1&deviceid=1&userid=&verify=&begin=&end=&account=&password=-->
      <dict>
        <key>name</key>
        <string>MCardHistory</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MCardList_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MCardHistory</string>
      </dict>
      <!-- 部门电话 /mobile?methodno=MContacts&debug=1&deviceid=1&userid=&verify=-->
      <dict>
        <key>name</key>
        <string>MContacts</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MContactList_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MContacts</string>
      </dict>
      <!-- 校车 /mobile?methodno=MBusSearch&debug=1&deviceid=1&userid=&verify=&type=&page=&limit=-->
      <dict>
        <key>name</key>
        <string>MBusSearch</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MBusList_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MBusSearch</string>
      </dict>
      <!-- 打卡信息 /mobile?methodno=MSignInInfo&debug=1&deviceid=1&userid=&verify=&account=&password=-->
      <dict>
        <key>name</key>
        <string>MSignInInfo</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MSignInList_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MSignInInfo</string>
      </dict>
      <!-- 打卡详情 /mobile?methodno= MSignInInDetail&debug=1&deviceid=1&userid=&verify=&account=&password=-->
      <dict>
        <key>name</key>
        <string>MSignInInDetail</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MSignInList_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MSignInInDetail</string>
      </dict>
      <!-- 办理流程(分页) /mobile?methodno=MHelp&debug=1&deviceid=1&userid=&verify=&page=&limit=-->
      <dict>
        <key>name</key>
        <string>MHelp</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MContacts_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MHelp</string>
      </dict>
      <!-- 树洞首页 /mobile?methodno=MTreeHoleList&debug=1&deviceid=1&appid=1&userid=1&verify=1&type=0&begin=-->
      <dict>
        <key>name</key>
        <string>MTreeHoleList</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MTreeHole_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MTreeHoleList</string>
      </dict>
      <!-- 树洞新消息 /mobile?methodno=MTreeHoleNews&debug=1&deviceid=1&appid=1&userid=1&verify=1&begin=-->
      <dict>
        <key>name</key>
        <string>MTreeHoleNews</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MNewComments_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MTreeHoleNews</string>
      </dict>
      <!-- 树洞详情 /mobile?methodno=MTreeHole&debug=1&deviceid=1&appid=1&userid=1&verify=1&id=1-->
      <dict>
        <key>name</key>
        <string>MTreeHole</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MTopic_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MTreeHole</string>
      </dict>
      <!--登录 /mobile?methodno=MLogin&debug=1&phone=&password=&deviceid=&appid=&pushId=&device=-->
      <dict>
        <key>name</key>
        <string>MLogin</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MUser_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MLogin</string>
      </dict>
      <!--注册或忘记密码 /mobile?methodno=MRegist&debug=1&deviceid=1&phone=&password=&nickname=&code=&appid=&pushId=&device=-->
      <dict>
        <key>name</key>
        <string>MRegist</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MUser_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MRegist</string>
      </dict>
      <!--修改账号或密码 /mobile?methodno=MChangePhone&debug=1&deviceid=1&phone=&password=&nickname=&code=&appid=-->
      <dict>
        <key>name</key>
        <string>MChangePhone</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MUser_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MChangePhone</string>
      </dict>
      <!--用户详细信息 /mobile?methodno=MGetUserInfo&debug=1&deviceid=1&userid=88b9e9a9-ea31-11e3-b696-ac853d9d52b1&verify=&appid=nju-->
      <dict>
        <key>name</key>
        <string>MGetUserInfo</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MUser_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MGetUserInfo</string>
      </dict>
      <!--用户信息修改 /mobile?methodno=MUpdateUserInfo&debug=1&appid=nju&deviceid=1&userid=&verify=&nickname=&belong=&sex=&birthday=tags=-->
      <dict>
        <key>name</key>
        <string>MUpdateUserInfo</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MUser_Builder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>MUpdateUserInfo</string>
      </dict>
    </array>
  </dict>
</plist>
